*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

/* Background */

.backgroundImg {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
}

.side-nav {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
}

/* menu deroulant */

.wrapper {
    background: #e5e6ea;
    height: 100vh;
    width: 300px;
}

#logo {
    width: 75%;
    margin-left: 25px;
    margin-bottom: 20px;
    display: flex;
}

.nav-bloc {
    display: flex;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.nav-bloc:hover{
    background: #e8c2bf;
    font-weight: bold;
}

.sub-nav {
    width: 200px;
    height: auto;
    position: absolute;
    z-index: -1;
    top: auto;
    left: 0;
    background: #e5e6ea;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.nav-bloc:hover .sub-nav {
    transform: translateX(300px);
}

.sub-nav li {
    padding: 10px;
}

.sub-nav li:hover {
    background: #e8c2bf;
}

/* Info */

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 10px;
    background: #666666;
    width: 300px
}

/* Reservation */

.reservation-box {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    padding: 20px;
    margin-right: 20px;
    background-color: #e5e6ea;
}

.reservation {
}

.title {
    background-color: #da1437;
    color: white;
    position: relative;
    top: 0;
}

/* fenetre pop up */

.pop-up {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 800px;
}

.popup1 {
    background: #da1437;
    margin-bottom: 20px;
    padding: 15px;
}

.popup1 h2, .soustitre1{
    color: white;
}

.popup1 h2 {
    text-transform: uppercase;
}

.popup2 {
    background: #e5e6ea;
    padding: 15px;
}

.popup2 h3 {
    margin-bottom: 15px;
}

.popup2 .soustitre2 {
    font-size: small;
}